# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
.venv/
.env

# IDE configuration files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Temporary files
*.log
*.tmp
*~

# Database files
*.db
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db
