# Core ML & DL
tensorflow
scikit-learn
pandas
numpy
torch>=1.13.1
torchvision>=0.14.1
Pillow

# Audio & Vision
librosa
opencv-python

# MLOps
dvc
Pillow
mlflow

# API & Server
fastapi
uvicorn[standard]
python-multipart

# Frontend & Testing
streamlit
requests
