# Core ML & DL
tensorflow
scikit-learn
pandas
numpy
torch>=1.13.1
torchvision>=0.14.1
Pillow
protobuf==3.20.3
# Audio & Vision
librosa
opencv-python
plotly
# MLOps
dvc
Pillow
mlflow

# API & Server
fastapi
uvicorn[standard]
python-multipart

# Frontend & Testing
streamlit
requests

huggingface_hub
# --- NLP (Transformers) ---
transformers
safetensors
huggingface-hub

# --- Audio & Vision ---
librosa
scipy
opencv-python



# --- MLOps ---
dvc
mlflow

# --- Testing ---
requests


